include abilities-and-skills.pug
include worker.pug

.dnd-5e-helper 
	.prof-bonus 
		span.prof-label Proficiency Bonus
		input(
			type= "number"
			name= "attr_proficiency_bonus"
			value= "+2"
		)
	+abilitiesAndSkills()
//- |
//- |
//- include pug/rolltemplate.pug
//- |
//- |
//- script(type="text/worker")
//- 	|	(function () {
//- 	|	"use strict";
//- 	include:uglify-es workers.js
//- 	|	})();
//- |
