include pug/mixins.pug

.dnd-5e-helper 
	.prof-bonus 
		span.prof-label Proficiency Bonus
		input(
			type= "number"
			name= "attr_proficiency_bonus"
			value= "+2"
		)
	.abilities-and-skills-wrapper 
		- const strength = {name: 'strength',label: 'STR',skills: [{name: 'athletics',label: 'Athletics'}]};
		+attributeSection(strength)
//- |
//- |
//- include pug/rolltemplate.pug
//- |
//- |
//- script(type="text/worker")
//- 	|	(function () {
//- 	|	"use strict";
//- 	include:uglify-es workers.js
//- 	|	})();
//- |
